fastapi
uvicorn[standard]
sqlalchemy
PyJWT>=2.8
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
pydantic
pydantic-settings
aiosqlite
psycopg2-binary
requests
stripe
paystack-python
slowapi
alembic
pillow>=10.0.0
